<p style="font-size:30px;font-weight:bold;margin-top:-0px">Python 101</p>
<p style="font-size:25px;font-weight:bold;">運算符</p>
<hr style="border:1px solid #edf1f2;" />

# 前言
> **在 Python 中，可以歸類成以下幾種運算符號：**
>- 算術運算子 Arithmetic Operators
>- 指派運算子 Assignment Operators
>- 關係運算子 Comparison Operators
>- 邏輯運算子 Logical Operators
>- 身份運算子 Identity Operators
>- 成員運算子 Membership Operators
>- 位元運算子 Bitwise Operators

> 參考
>- https://www.w3schools.in/python-tutorial/operators/
>- https://www.delftstack.com/zh-tw/tutorial/python-3-basic-tutorial/operators/

# 算術運算子 (Arithmetic Operators)

In [ ]:
# 加減乘除

3 + 5
5 - 3
6 * 4
7 / 2

In [ ]:
# 平方

3 ** 2

In [8]:
# 取整除

9 // 4

2

In [9]:
# 餘數

20 % 3

2

# 指派運算子 (Assignment Operators)

In [14]:
x = 8
x += 5  # x = x + 5
x

13

In [15]:
y = 20
y -= 5  # y = y - 5
y

15

#  關係運算子 (Comparison Operators)
- ">"
- "<"
- ">="
- "<="

In [16]:
"""
    - 1 個 = 代表 「assign」。
    - 2 個 = 代表 「數學中的等於」。
"""

6 == 6

True

In [17]:
6 != 6

False

# 邏輯運算子 (Logical Operators)
- and
- or
- not

In [47]:
x = 10
y = 20

if x == 10 and y == 20:
    print('Yes')
else:
    print('No')

Yes

In [21]:
x = 1
y = 20

if x == 10 or y == 20:
    print('Yes')
else:
    print('No')

Yes

In [25]:
x = 100

if not x == 1000:
    print('Yes')
else:
    print('No')

Yes

# 身份運算子 (Identity Operators)
- 用於判斷兩個變數，是不是參照自一個物件。

In [30]:
x = ['Elaine', 'Michelle']
y = ['Elaine', 'Michelle']
z = x

In [31]:
x is y

False

In [35]:
x == y

True

In [34]:
x is z

True

In [36]:
x is not z

False

# 成員運算子 (Membership Operators)

In [39]:
num_list = [1, 2, 3, 4, 5]
x = 3

In [40]:
x in num_list

True

In [38]:
x not in num_list

False

# 位元運算子 (Bitwise Operators)
- &
- |
- ~

In [48]:
x = 10
y = 20

if (x == 10) & (y == 20):
    print('Yes')
else:
    print('No')

Yes

In [49]:
x = 10
y = 2

if (x == 10) | (y == 20):
    print('Yes')
else:
    print('No')

Yes

In [59]:
import pandas as pd

df = pd.DataFrame({'name':['Max', 'Michelle', 'Elaine'], 'score':[98, 82, 73]})
df

       name  score
0       Max     98
1  Michelle     82
2    Elaine     73

In [64]:
df[~(df.score > 80)]

     name  score
2  Elaine     73